{% extends 'base.html' %}

{% block title %}Şef{% endblock %}

{% block content %}

<div class="container" id="main-section">
    <ul class="nav nav-tabs" role="tablist">
  <!--     <li class="active">
        <a href="#new_issue" role="tab" data-toggle="tab" >Mesele Oluştur</a>
      </li>
  -->    <li role="presentation" class="active">
        <a href="#issues" role="tab" data-toggle="tab" >Meseleler</a>
      </li>
      <li role="presentation" class="">
        <a href="#settings" role="tab" data-toggle="tab" >Ayarlar</a>
      </li>
      <li>
        <a href="/logout">Çıkış</a>
      </li>

    </ul>
    <br>

  <!-- Tab panes -->
  <div class="tab-content">

      <!-- issues-->
      <div role="tabpanel" id="issues" class="tab-pane fade in active" aria-labelledby="users-tab">
        <div class="panel panel-default login-signup">
          <div class="panel-heading">
            <h1 class="panel-title" align="center">Meseleler</h1>
          </div><!--   /.panel-heading -->
          <div class="panel-body">
            <table id="tableID" class="table">
              <thead>
                <tr>
                  <th>Sıra</th>
                  <th>Tipi</th>
                  <th>Bölüm</th>
                  <th>Sınıf</th>
                  <th>Konu</th>
                  <th>Giriş Tarihi</th>
                  <th>Durum</th>
                </tr>
              </thead>

              <tfoot>
                  <tr>
                    {% if issues%}
                      {% for issue in issues %}
                      <tr>
                        <td id="myselect" onclick="window.location.href='/issue/{{issue._id}}/';" role="tab" data-toggle="tab"><button class="btn btn-info">1</button></td>
                        <td>{{ issue.issue_type }}</td>
                        <td>{{ issue.department_id }}</td>
                        <td>D011</td>
                        <td>{{ issue.issue_summary }}</td>
                        <td>{{ issue.entry_date }}</td>
                        <td>{{ issue.issue_status }}</td>
                      </tr>
                      {% endfor %}
                      {% else %}
                    {% endif %}


                  </tr>

              </tfoot>
            </table>

          </div><!-- /.panel-body-->
        </div><!-- /.panel -->
    </div><!-- /.issues-->

    <!-- settings-->
    <div role="tabpanel" id="settings" class="tab-pane fade" aria-labelledby="users-tab">
      <div class="panel panel-default login-signup">
        <div class="panel-heading">
          <h1 class="panel-title" align="center">Ayarlar</h1>
        </div><!--   /.panel-heading -->
        <div class="panel-body">
          <h3>Bilgilerim</h3>
          <hr>
          <label for="pwd" >İsim-Soyisim: {{ session.current_user.first_name }}</label><br>
          <label for="pwd" >E-mail:</label><br><br>

          <h3>İzine Ayrılma</h3>
          <hr>
          <label for="pwd" >Yetkili Birim:</label><br>
        <form action="/permission" method="post">
          <label>Çıkış Tarihi:</label>
          <input type="date" id="izin" name="çıkış_tarihi" required autofocus>
          <label>Dönüş Tarihi:</label>
          <input type="date" id="izin" name="giriş_tarihi" required autofocus>
          <button>İstek Gönder</button>
          <br>
        </form>


          <h3>Şifre Değiştir</h3>
          <hr>
            <form action="/pwd_change" method="post">
              <label for="pwd" >Yeni Şifre</label>
              <input name="pwd" id="pwd" class="form-control input-sm" data-minlength="6" data-maxlength="12" placeholder="Şifre"required="" type="password">
              <label for="pwd2">Şifre Tekrar</label>
              <input name="pwd2" id="pwd2" class="form-control input-sm" data-minlength="6" data-maxlength="12" data-match="#pwd" data-match-error="Şifreler eşleşmiyor" placeholder="Şifre Tekrar" required="" type="password">
              <button class="btn btn-lg btn-primary btn-block btn-homepage" type="submit"><span class="fa fa-sign-in" aria-hidden="true"></span> Şifreyi Değiştir</button>
            </form>
        </div> <!-- /.panel-body-->
      </div><!-- /.panel -->
  </div><!-- /.settings-->



  <!-- explanation-->
  <div role="tabpanel" id="explanation" class="tab-pane fade" aria-labelledby="users-tab">
    <div class="panel panel-default login-signup">
      <div class="panel-heading">
        <h1 class="panel-title" align="center">Açıklama Oluştur</h1>
      </div><!--   /.panel-heading -->
      <div class="panel-body">
        <label>Mesele_id: </label><br>
        <label>Mesele sahibi: </label><br>
        <label>Mesele sahibinin maili: </label><br>
        <textarea name="mesaj" id="detay" cols="40" class="validate[required] text-input form-control input-lg" rows="6" placeholder="Açıklama"></textarea>
        <input type="file" id="issue_attachments" name="img" multiple><br>
        <button class="explantaion-button" type="submit" id="btnLogin" value="explanation">Gönder</button>


      </div> <!-- /.panel-body-->
    </div><!-- /.panel -->
  </div><!-- /.explanation-->






   </div> <!-- /.Tab panes -->
</div><!-- /.container -->



{% endblock %}

{% block javascript %}

    <script type="text/javascript">
      jQuery(document).ready(function(){
        // jQuery ready
        // click
          jQuery("#btnLogin").click(function(){
          $("#btnLogin").attr("value","Lütfen bekleyiniz...");
          $("#btnLogin").attr("disabled","disabled");
        return false;
        });
    });//end ready
    </script>


{% endblock %}
