{% extends 'base.html' %}

{% block title %}            {% endblock %}

{% block content %}

<div class="container" id="main-section">
  <div class="panel panel-default login-signup">
    <div class="panel-heading">
      <h1 class="panel-title" align="center">Yeni Mesele Oluştur</h1>
    </div><!-- /.panel-heading -->
    <div class="panel-body">
      <form action="/new-issue" method="post">

        <!-- https://python-forum.io/Thread-How-do-I-fetch-values-from-db-to-Select-Options-using-Flask?pid=21597-->
        <!-- yukarıdaki linkten dbdeki verilerle select tasarlama örneği -->
        <span class="input-group-addon">Departman</span>
        <select name="departman_id" class="selectpicker form-control">
              {% for o in data %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
        </select>

         <span class="input-group-addon">Birim</span>
        <select name="birim_id" class="selectpicker form-control">
             {% for o in data %}
             <option value="{{ o.name }}">{{ o.name }}</option>
             {% endfor %}
        </select>
        <label>Mesaj Türü</label>
        <select name="IssueType" id="IssueType" class="validate[required] form-control input-lg">
            <option value="">Seçiniz</option>
            <option value="Şikayet">Şikayet</option>
            <option value="Öneri">Öneri</option>
            <option value="Teşekkür">Teşekkür</option>
            <option value="BilgiEdinme">Bilgi Edinme</option>
            <option value="Diğer">Diğer</option>
        </select>
        <label for="Issue">Konu</label>
        <input type="text" id="issue" class="form-control" required autofocus>
        <textarea name="mesaj" id="detay" cols="40" class="validate[required] text-input form-control input-lg" rows="12" placeholder="Detay"></textarea>
        <input type="file" id="issue_attachments" name="img" multiple>
        <br>
        <button class="btn btn-lg btn-primary btn-block btn-homepage" type="submit"><span class="fa fa-sign-in" aria-hidden="true"></span> Oluştur</button>
      </form>
      <br>
    </div><!-- /.panel-body-->
  </div><!-- /.panel -->
</div><!-- /.container -->




{% endblock %}

{% block javascript %}       {% endblock %}
