{% extends 'base.html' %}

{% block title %}Issue{% endblock %}

{% block content %}

<!-- issue-->
<div role="tabpanel" id="issue" class="tab-pane" aria-labelledby="users-tab">
  <div class="panel panel-default login-signup">
    <div class="panel-heading">
      <h1 class="panel-title" align="center">{{issue.issue_summary}}</h1>
    </div><!--   /.panel-heading -->
    <div class="panel-body">
      <label>Mesele_id: {{issue._id}}</label><br>
      <label>Melele Tipi: {{issue.issue_type}}</label><br>
      <label>Bölüm: {{issue.department_id}}</label><br>
      <label>Sınıf: </label><br>
      <label>Yetkili: {{issue.solver_id}}</label><br>
      <label>Durum: {{issue.issue_status}}</label><br>

      <hr>
      <h4>{{issue.issue_summary}}</h4>
      <p>
        {{issue.detail_text}}
      </p><br>

      <!-- Eklenen bütün video ve fotoğrafları döndürecek bir for döngüsü -->

      <a href="/static/img/issueId_file1.jpg">
        <img src="/static/img/issueId_file1.jpg" class="img-rounded" alt="Ek dosya" style="width:100px;height:100px;border:0;margin-left: 10px; margin-bottom: 10px;">
      </a>
      <a href="/static/img/issueId_file2.jpg">
        <img src="/static/img/issueId_file2.jpg" class="img-rounded" alt="Ek dosya" style="width:100px;height:100px;border:0;margin-left: 10px; margin-bottom: 10px;">
      </a>


      <form>
        {% if session.current_user.role == "amir" %}
        <a href="/show_assign_technician?issue_id={{issue._id}}" class="btn btn-primary" style="margin-left:250px;" data-toggle="tab">Eleman Ata</a>
        {% endif %}

        {% if session.current_user.role == "amir" or session.current_user.role == "teknisyen" %}
        <a class="btn btn-danger" data-toggle="tab" onclick="DoPostUnsolvable()">Çözülemez</a>
        <a class="btn btn-success" data-toggle="tab" onclick="DoPostFinished()">Çözüldü</a>
        {% endif %}

      </form>

    </div> <!-- /.panel-body-->
  </div><!-- /.panel -->
</div><!-- /.issue-->

{% endblock %}

{% block javascript %}

  <script language="javascript">

   function DoPostUnsolvable(){
      $.post("/update_issue", { "issue_id": "{{issue._id}}", "status": "cozulemez" } )
        .done(function() {
          toastr.success('Çözülemez işaretlendi')
          setTimeout("location.reload();", 1500);
        });
   }

   function DoPostFinished(){
      $.post("/update_issue", { "issue_id": "{{issue._id}}", "status": "cozuldu" } )
        .done(function() {
          toastr.success('Çözüldü işaretlendi')
          setTimeout("location.reload();", 1500);
        });
   }

</script>


{% endblock %}